.cell {
  height: 100px;
  width: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}
.cell:nth-child(2) {
  border-left: 1px solid black;
}
.cell:last-child {
  border-left: 1px solid black;
}
.cell:hover {
  background-color: #e5ecf4;
}

.winner, .winner:hover {
  background-color: #ccffc9;
  color: palevioletred;
}
