.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 303px;
}

.header {
  display: flex;
  flex-flow: row;
  background-color: darkkhaki;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  width: 100px;
  height: 40px;
  margin-left: 20px;
  background-color: azure;
  border: 1px solid aquamarine;
}

.winner {
  background-color: #ccffc9;
  color: palevioletred;
}
