.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(211, 232, 233, 0.44);
}
