:root {
  --color-black: #000000;
  --app-background: rgba(211, 232, 233, 0.44);
  --header-footer-background: #a4cdf0;
  --winner-cell-background: #ccffc9;
  --cell-hover: #e5ecf4;
  --link-colour: #db7093;
}
